<section class="container about">
  <h2 class="header header-text">about</h2>
  <div class="about__body l-grid l-grid--col-3">
    <div class="about__body__image">
      <img src="../images/portrait.jpg" alt="" />
    </div>
    <div class="about__body__text">
      <p>Anthony Anaedu is a Software Developer, IT Specialist and Engineer.</p>
      <p>
        He is a very curious and dedicated professional who loves to solve
        complex problems. He loves computer programming, hacking technology,
        UI/UX design, travelling, music, learning and sharing knowledge.
      </p>
    </div>
    <div class="about__body__text">
      <p>
        He prides himself on his reasoning and problem solving skills. When he
        is not coding or building websites, he is probably reading, having a
        deep conversation, teaching kids/young adults how to code or training
        business owners on how to use WordPress.For comments or questions, feel
        free to hit me up on Twitter or via email.
      </p>
      <h3>Tools & Areas of Expertise:</h3>
      <p>WordPress, Python, Javascript, jQuery, HTML & CSS3, Bootstrap,C#.</p>
    </div>
  </div>
</section>
