<section class="container portfolio">
    <div class="header header--portfolio">
      <h2 class="header-text">portfolio</h2>
      <p>Below are some of my selected works.</p>
    </div>
    <div class="l-grid l-grid--col-3">
      <div class="card">
        <img class="card__img" src="../images/site_1.jpg" alt="" />
        <h2 class="card__title">StudyNet.ng</h2>
        <p class="card__body">WordPress, PHP</p>
      </div>
      <div class="card">
        <img class="card__img" src="../images/site_1.jpg" alt="" />
        <h2 class="card__title">StudyNet.ng</h2>
        <p class="card__body">WordPress, PHP</p>
      </div>
      <div class="card">
        <img class="card__img" src="../images/site_1.jpg" alt="" />
        <h2 class="card__title">StudyNet.ng</h2>
        <p class="card__body">WordPress, PHP</p>
      </div>
    </div>
</section>