.l-container{
    max-width: 1024px;
    margin:auto;
    display: flex;
    justify-content: center;
}

.l-grid{
    display: grid;
}

.l-grid--col-3{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}