/* buttons */
.btn{
    padding: 0.5rem 1.3rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.2s;
}

.btn--primary:hover{
    background-color: var(--primary-color-hover);
}

.btn--secondary{
    background-color: var(--secondary-background);
    color: #fff;
    transition: 0.2s;
}
.btn--secondary:hover{
    background-color: var(--secondary-background-hover);
}

.btn--default{
    background-color: #fff;
    transition: 0.2s;
}
.btn--default:hover{
    background-color: #eee;
}

/* Card */
.card{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img{
    width: 24rem;
    height: 20rem;
    margin-top: 0.5rem;
}

.card__title{
    margin-bottom: 0;
}

.card__body{
    font-size: 1rem;
    font-style: italic;
}

.card:hover{
    background-color: #000;
}

.card:hover .card__title{
    color: #fff;
}

.card:hover .card__body{
    color: #fff;
}

