.container{
    max-width: 1170px;
    margin: auto;
}
/* headers */
.header{   
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: 3.5rem;
}

.header--portfolio{
   flex-direction: column; 
   align-items: center;
}

.header-text{
    text-transform: uppercase;
    font-weight: 600;
}

/* buttons */
.btn{
    padding: 0.5rem 1.3rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.2s;
}

.btn--primary:hover{
    background-color: var(--primary-color-hover);
}

.btn--secondary{
    background-color: var(--secondary-background);
    color: #fff;
    transition: 0.2s;
}
.btn--secondary:hover{
    background-color: var(--secondary-background-hover);
}

.btn--default{
    background-color: #fff;
    transition: 0.2s;
}
.btn--default:hover{
    background-color: #eee;
}

/* Card */
.card{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img{
    width: 80%;
    height: 75%;
    margin-top: 0.5rem;
}

.card__title{
    margin-bottom: 0;
}

.card__body{
    font-size: 1rem;
    font-style: italic;
}

.card:hover{
    background-color: #000;
}

.card:hover .card__title{
    color: #fff;
}

.card:hover .card__body{
    color: #fff;
}

/* portfolio */


/* nav */
.nav{
    background-color: #000; 
    padding: 1rem 0; 
}

.container--nav{
    
}

.nav__header{
   
}

.nav__header h1{
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.nav__content{
    display: flex;
    justify-content: space-evenly;
}

.nav__content-item a{
    color: var(--text-gray);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s;
}

.nav__content-item a:hover{
    color:#fff;
}

.nav__content-item a.active{
    color:#fff;
}

/* About */
.about__body__image{
   margin-top: 4rem;
}

.about__body__image img{
    width: 250px;
    height:250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 0;
}

.about__body__text p{
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.about__body__text h3{
    font-size: 2rem;
    font-weight: 400;
}

/* Contact */
.contact{
    background-color: #777;
    padding: 2rem;
}

.contact__header{
    font-size: 1.5rem;
    color: #fff;
}

.contact__btn{
    width: fit-content;
    height: fit-content;
    padding: 0.8rem 2rem;
    font-size: 1rem;
}

.contact__body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Hero */
.hero{
    background-image: url("https://images.unsplash.com/7/Top_view.jpg?fit=crop&fm=jpg&h=700&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1375");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__heading{
    color: #fff;
    margin: 2rem;
    margin-bottom: 1rem;
}

.hero__content{
    color: #fff;
    font-size: 1.5rem; 
    margin: 0;
    margin-bottom: 80px;
}

.hero__btn--container .btn:not(:first-child){
    margin-left: 5px;
}
